[submodule "Glew"]
	path = External/Glew/Repo
	url = https://github.com/PlasmaEngine/Glew.git
[submodule "Libgit2"]
	path = External/Libgit2/Repo
	url = https://github.com/PlasmaEngine/Libgit2.git
[submodule "Tracy"]
	path = External/Tracy/Repo
	url = https://github.com/PlasmaEngine/tracy.git
[submodule "External/Assimp/Repo"]
	path = External/Assimp/Repo
	url = https://github.com/dragonCASTjosh/PlasmaEngineAssimp.git