cache:
  directories:
  - $TRAVIS_BUILD_DIR/Build/Cache
git:
  depth: false
jobs:
  include:
  - name: Windows
    os: windows
    env:
    - CACHE_NAME=Windows
    language: node_js
    node_js:
    - 13
    install:
    - git submodule init
    - git submodule update
    - npm install
    - choco install doxygen.install
    - choco install llvm --version=6.0.1 --allow-downgrade
    - choco install ninja
    - choco install visualstudio2019community
    - choco install visualstudio2019-workload-nativedesktop
    - export VS160COMNTOOLS="/c/Program Files (x86)/Microsoft Visual Studio/2019/Community/Common7/Tools"
    - df -h
    - rm -rf "C:\ProgramData\docker\windowsfilter" 2> /dev/null || true
    - rm -rf "C:\ProgramData\Package Cache" 2> /dev/null || true
    - rm -rf "C:\ProgramData\chocolatey\lib\mingw" 2> /dev/null || true
    - rm -rf "C:\Program Files (x86)\Android" 2> /dev/null || true
    - rm -rf "C:\Windows\SoftwareDistribution\Download" 2> /dev/null || true
    - rm -rf "C:\Recovery" 2> /dev/null || true
    - rm -rf "C:\Program Files (x86)\Microsoft SDKs\UWPNuGetPackages" 2> /dev/null || true
    - df -h
    script:
    - node index.js all --alias=Windows
